* @open-switch/operations

*.md       @open-switch/documentation
*.yang     @open-switch/yang
*.yhist    @open-switch/yang
.buildkite @open-switch/operations
.github/   @open-switch/administration
debian/    @open-switch/operations
